body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#connectedUsers {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
}

#chatContainer {
  width: 800px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

#chatBox {
  height: 800px;
  overflow-y: auto;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 5px;
}

#messageInput {
  width: 730px;
  padding: 5px;
  margin-right: 5px;
}

#sendButton {
  padding: 5px;
}
